html,body {
    height: 100%;
    margin: 0;
}

body {
    color: #5B6064 !important;
    font-family: "Roboto",Arial,sans-serif !important;
    font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #fff !important;
}

.background-circle {
    left: 0;
    margin-left: -940px;
    top: 430px;
    width: 3800px;
    height: 3800px;
    border-radius: 3800px;
    position: fixed;
    background-color: #EEF2F5;
}

.main-section {
    max-width: 1200px;
}

.main-section-title {
    border-bottom: 8px solid #009639;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
}

.main-section-title {
    border-bottom: 8px solid #009639;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
}

@media (min-width: 576px) {
    .main-section-title {
        font-size: 1.5rem;
    }
}

.main-section-title span {
    position: relative;
    width: 100%;
}

.main-section-container {
    background-color: #fff;
    border: 2px solid #EEF2F5;
    border-top: none;
    height: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
}

.login-button {
    background-color: white;
    border: 2px solid #5B6064;
    border-radius: 5px;
    height: 56px;
    transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.login-button:focus, .login-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.login-button-icon {
    box-sizing: border-box;
    display: inline-block;
    margin: 18px 0 18px 18px;
    vertical-align: middle;
}

.login-button-icon svg {
    display: block;
    height: 20px;
}

.login-button-text {
    display: inline-block;
    font-weight: bold;
    padding: 0 24px;
    vertical-align: middle;
}

.position-marker {
    fill: #AFB9BF;
}

.dotted-line {
    stroke: #999;
    stroke-width: 1;
    stroke-dasharray: 1, 1.5;
}

.line-separator {
    fill: #aaa;
    width: 1px;
}

.dotted-line-thick {
    stroke: #000;
    stroke-opacity: 0.8;
    stroke-width: 1;
    stroke-dasharray: 2;
}

.styled-link {
    color: #009639;
    text-decoration: none;
    font-size: 16px
}


/* todo: All styles below are used only in submit page. Remove these once replaced by bootstrap. */

.submit-button {
    border-radius: 25px;
    background: #009639;
    padding: 5px;
    width: 150px;
    height: 50px;
    font-weight: 100;
    font-size: 20px;
    color: white;
    border: 0;
    transition: 0.3s;
}

.submit-button:hover {
    background: #007d31;
    transition: 0.3s;
}

.styled-select {
    height: 50px;
    overflow: hidden;
    width: 100%;
    font-family: "Roboto",Arial,sans-serif;
    font-weight: 300;

    font-size: 20px;
    text-align: center;
    padding: 10px;
    background: transparent;
    color: #009639;
}

.styled-input {
    border: 0;
    border-bottom: 2px solid #005C37;
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding: 10px;
    background: transparent;
    color: #009639;
}

.styled-input:disabled {
    background-color: #EEE;
    color: #649685;
}

.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.typeahead {
    background-color: #EEF2F5;
    margin: 0;
    min-width: 100px;
    overflow-y: auto;
    position: absolute;
    z-index: 999;
}

.typeahead-results {
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    clear: both;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.typeahead-no-matches {
    border-bottom: 1px solid #d4d4d4;
    background: transparent;
    color: #009639;
    cursor: default;
    display: block;
    padding: 10px;
}

.typeahead-result {
    display: block;
    padding: 10px;
    background: transparent;
    color: #009639;
}

.typeahead-result:last-of-type {
    border-bottom: 1px solid #d4d4d4;
}

.typeahead-result:hover {
    background-color: #009639;
    color: white;
}

.toast {
    text-align: center;
    position: fixed;
    top: 1rem;
    right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.95) !important;
}

.toast-body {
    padding: 1rem !important;
    font-size: 140%;
}

.radar {
    color: #4A4A4A !important;
}

.radar-label {
    background-color: white;
    font-size: 2rem;
    font-weight: bold;
    justify-content: flex-end;
    padding: 1.5rem 1rem 0.5rem 1rem;
}

ul.list-group > li.list-group-item {
    border: 1px solid rgb(169,169,169);
}

ul.list-group > li.list-group-item:first-child {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

ul.list-group > li.list-group-item:last-child {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

ul.list-group.list-group-flush > li.list-group-item  {
    border: none;
}

.scaled-main-title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}
.scaled-quadrant-title {
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    font-size: 1.25rem;
}

@media (min-width: 576px) {
    .scaled-main-title {
        font-size: 3.5rem;
    }
    .scaled-quadrant-title {
        font-size: 1.25rem;
    }
}

.secondary-button {
    border-radius: 25px;
    background: #fff;
    color: #009639;
    padding: 5px;
    width: 150px;
    height: 50px;
    font-weight: 100;
    font-size: 20px;
    border: 2px solid #009639;
    transition: 0.3s;
}

.secondary-button:hover {
    background: #009639;
    color: #fff;
    transition: 0.3s;
}

.color-avoid {
    color: #C74A85;
    fill: #C74A85 !important;
}
.color-assess {
    color: #644693;
    fill: #644693 !important;
}
.color-trial {
    color: #01549F;
    fill: #01549F !important;
}
.color-adopt {
    color: #47973A;
    fill: #47973A !important;
}
.color-none {
    color: #AFB9BF;
    fill: #AFB9BF !important;
}

.quadrant-svg-wrapper {
    background-color: #fff;
    border: 2px solid #EEF2F5;
    border-top: none;
    height: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
}

.quadrant .quadrant-title-container {
    border-bottom: 8px solid #47973A;
    position: relative;
    width: 100%;
}

.radar-row-header,
.radar-row-footer {
    font-size: .6rem;
    text-transform: uppercase;
    fill: #757575;
}

.radar-row-header-title,
.radar-row-footer-title {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.radar-row-name {
    fill: #5B6064;
    font-size: 10px;
}
.radar-footer-title{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #47973A;
    font-weight: 700;
    letter-spacing: 3px;
}
