html,body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Roboto",Arial,sans-serif !important;
    font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #EEF2F5 !important;
}

.login-title {
    color: #009639;
    font-weight: bold;
    text-align: center;
}

.login-button {
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
    box-sizing: border-box;
    color: #757575;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.login-button:focus, .login-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.google-login {
    background: white;
    color: #757575;
}

.google-login:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
}

.facebook-login {
    background: #4267b2;
    color: white;
}

.login-button-icon {
    box-sizing: border-box;
    display: inline-block;
    margin: 8px 0 8px 8px;
    vertical-align: middle;
}

.login-button-icon svg {
    display: block;
    height: 24px;
}

.login-button-text {
    display: inline-block;
    font-weight: bold;
    padding: 0 24px;
    vertical-align: middle;
}

.position-marker {
    fill: rgba(0, 0, 0, 0.65);
}

.dotted-line {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 1;
    stroke-dasharray: 2;
}

.dotted-line-thick {
    stroke: #000;
    stroke-opacity: 0.8;
    stroke-width: 1;
    stroke-dasharray: 2;
}

.styled-link {
    color: #009639;
    text-decoration: none;
    font-size: 16px
}


/* todo: All styles below are used only in submit page. Remove these once replaced by bootstrap. */

.submit-button {
    border-radius: 25px;
    background: #009639;
    padding: 5px;
    width: 150px;
    height: 50px;
    font-weight: 100;
    font-size: 20px;
    color: white;
    border: 0;
    transition: 0.3s;
}

.submit-button:hover {
    background: #007d31;
    transition: 0.3s;
}

.styled-select {
    height: 50px;
    overflow: hidden;
    width: 100%;
    font-family: "Roboto",Arial,sans-serif;
    font-weight: 300;

    font-size: 20px;
    text-align: center;
    padding: 10px;
    background: transparent;
    color: #009639;
}

.styled-input {
    border: 0;
    border-bottom: 2px solid #005C37;
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding: 10px;
    background: transparent;
    color: #009639;
}

.styled-input:disabled {
    background-color: #EEE;
    color: #649685;
}

.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.typeahead {
    background-color: #EEF2F5;
    margin: 0;
    min-width: 100px;
    overflow-y: auto;
    position: absolute;
    z-index: 999;
}

.typeahead-results {
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    clear: both;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.typeahead-no-matches {
    border-bottom: 1px solid #d4d4d4;
    background: transparent;
    color: #009639;
    cursor: default;
    display: block;
    padding: 10px;
}

.typeahead-result {
    display: block;
    padding: 10px;
    background: transparent;
    color: #009639;
}

.typeahead-result:last-of-type {
    border-bottom: 1px solid #d4d4d4;
}

.typeahead-result:hover {
    background-color: #009639;
    color: white;
}

.toast {
    text-align: center;
    position: fixed;
    top: 1rem;
    right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.95) !important;
}

.toast-body {
    padding: 1rem !important;
    font-size: 140%;
}

.radar {
    color: #4A4A4A !important;
}

.radar-label {
    background-color: white;
    font-size: 2rem;
    font-weight: bold;
    justify-content: flex-end;
    padding: 1.5rem 1rem 0.5rem 1rem;
}

.quadrant .quadrant-title-container {
    border-bottom: 6px solid rgba(0, 0, 0, 0.7);
    position: relative;
    width: 100%;
}

.quadrant:nth-of-type(odd) .quadrant-title-container {
    border-bottom: 6px solid rgba(0, 0, 0, 0.25);
}

ul.list-group > li.list-group-item {
    border: 1px solid rgb(169,169,169);
}

ul.list-group > li.list-group-item:first-child {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

ul.list-group > li.list-group-item:last-child {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.scaled-main-title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}
.scaled-sub-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
}
.scaled-quadrant-title {
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
}

@media (min-width: 576px) {
    .scaled-main-title {
        font-size: 4.5rem;
    }
    .scaled-sub-title {
        font-size: 2rem;
    }
    .scaled-quadrant-title {
        font-size: 1.75rem;
    }
}
