:root {
    --nortal-green: #009639;
    --nortal-green-light: #CCEAD7;
    --avoid: #C50084;
    --avoid-light: #F3CCE6;
    --trial: #00549F;
    --trial-light: #CCDCEB;
    --assess: #644693;
    --assess-light: #E0DAE9;
    --terminal-row-number: #A55200;
    --terminal-background: #2D2C30;
    --dark-gray: #5B6064;
    --medium-gray: #AFB9BF;
    --light-gray: #EEF2F5;
}

html,body {
    height: 100%;
    margin: 0;
}

body {
    color: var(--dark-gray) !important;
    font-family: "Roboto",Arial,sans-serif !important;
    font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: white !important;
}

.background-circle {
    left: 0;
    margin-left: -940px;
    top: 430px;
    width: 3800px;
    height: 3800px;
    border-radius: 3800px;
    position: fixed;
    background-color: var(--light-gray);
}

.main-section {
    max-width: 1200px;
    padding-bottom: 56px;
}

.main-section-title {
    border-bottom: 8px solid var(--nortal-green);
    bottom: 0;
    line-height: 20px;
    font-size: 0.75rem;
    font-weight: 700;
    position: absolute;
    text-transform: uppercase;
}

@media (min-width: 576px) {
    .main-section-title {
        font-size: 1.5rem;
        line-height: 32px;
    }
}

@media (min-width: 304px) and (max-width: 575px) {
    .main-section-title {
        font-size: 1rem;
        line-height: 24px;
    }
}

.main-section-title img {
    padding-bottom: 6px;
}

.main-section-title span {
    position: relative;
}

.main-section-container {
    background-color: white;
    border: 2px solid var(--light-gray);
    border-top: none;
    padding-left: .5rem;
    padding-right: .5rem;
}

.footer-title{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--nortal-green);
    font-weight: 700;
    letter-spacing: 3px;
}

.styled-input {
    background: transparent;
    border: 0;
    border-bottom: 2px solid var(--medium-gray);
    display: block;
    caret-color: var(--nortal-green);
    color: var(--dark-gray);
    font-size: 20px;
    padding: 10px;
    transition: 150ms ease-in-out;
    width: 100%;
}

.styled-input:focus {
    border-bottom: 2px solid var(--nortal-green);
    outline: none;
    color: var(--nortal-green);
}

.styled-input ~ label {
    position: absolute;
    pointer-events: none;
    left: 25px;
    top: 10px;
    transition: 250ms ease all 100ms;
    color: var(--medium-gray);
}

.styled-input:focus ~ label, .styled-input:disabled ~ label, .styled-input:not(.empty) ~ label {
    top: -18px;
    font-size: 12px;
    color: var(--nortal-green);
}

.styled-input:not(:focus) ~ label {
    color: var(--medium-gray);
}

.styled-input.error {
    border-bottom: 2px solid var(--avoid);
    color: var(--avoid);
}

.styled-input.error ~ label {
    color: var(--avoid);
}

.styled-input ~ .errorMessage {
    display: none;
}

.styled-input.error ~ .errorMessage {
    color: var(--avoid);
    display: block;
    font-size: 0.75rem;
    left: 10px;
    padding-top: 0.4rem;
    position: relative;
}

.styled-input:disabled {
    background-color: var(--light-gray);
}

.custom-control-input:active ~ .custom-control-label::before {
    background-color: var(--nortal-green-light) !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--nortal-green) !important;
    border-color: var(--nortal-green) !important;
}

.custom-checkbox .custom-control-label {
    padding: 0.1rem 0 0 0.3rem;
}

.custom-checkbox .custom-control-label::before {
    border: 2px solid var(--dark-gray) !important;
    border-radius: 0.1rem !important;
    box-shadow: none !important;
}

.custom-control-label::before, .custom-control-label::after {
    height: 1.25rem !important;
    width: 1.25rem !important;
}

.custom-control-label::after {
    background-repeat: no-repeat !important;
    background-position: 50% !important;
    background-size: 65% 65% !important;
}

.styled-link, .styled-link:hover, .styled-link:active, .styled-link:visited {
    color: var(--nortal-green);
    text-decoration: none;
}

.styled-select {
    background: transparent;
    border: 0;
    border-bottom: 2px solid var(--medium-gray);
    display: block;
    caret-color: var(--nortal-green);
    color: var(--dark-gray);
    font-size: 20px;
    overflow: hidden;
    padding: 10px;
    transition: border-bottom-color 150ms ease-in-out;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance:none;
    appearance:none;
}

.styled-select-arrow {
    content: '';
    position: absolute;
    right: 25px;
    top: 10px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--dark-gray);
    clear: both;

}

.styled-select:focus {
    border-bottom: 2px solid var(--nortal-green);
    color: var(--nortal-green);
    outline: none;
}

.styled-select ~ label {
    color: var(--medium-gray);
    left: 25px;
    position: absolute;
    pointer-events: none;
    transition: 250ms ease all 100ms;
    top: -18px;
    font-size: 12px;
}

.styled-select:focus ~ label {
    color: var(--nortal-green);
}

.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.toast {
    text-align: center;
    position: fixed;
    top: 1rem;
    right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.95) !important;
}

.toast-body {
    padding: 1rem !important;
    font-size: 140%;
}

.submit-button {
    background: var(--nortal-green);
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 100;
    height: 4rem;
    padding: 0.5rem 4rem 0.5rem 4rem;
    transition: 0.3s;
}

.submit-button:hover {
    background: #007d31;
    transition: 0.3s;
}

.secondary-button {
    background: white;
    border: 2px solid var(--nortal-green);
    border-radius: 5px;
    color: var(--nortal-green);
    font-size: 20px;
    font-weight: 100;
    height: 4rem;
    padding: 0.5rem 4rem 0.5rem 4rem;
    transition: 0.3s;
}

.secondary-button:hover {
    background: var(--nortal-green);
    color: white;
    transition: 0.3s;
}

.color-avoid {
    color: var(--avoid);
    fill: var(--avoid) !important;
}
.color-assess {
    color: var(--assess);
    fill: var(--assess) !important;
}
.color-trial {
    color: var(--trial);
    fill: var(--trial) !important;
}
.color-adopt {
    color: var(--nortal-green);
    fill: var(--nortal-green) !important;
}
.color-none {
    color: var(--medium-gray);
    fill: var(--medium-gray) !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
